/robavecchia/esse/
/robavecchia/iper/
/aggiornaBarcodes.py
/robavecchia/iperBestiale.json
/robavecchia/data.json
/barcodesbackup.json
/robavecchia/esseBestiale.json
/robavecchia/iper.json
/scansionaBarcodes.py
/modulivecchi/
/test.py
